<%= if assigns[:current_user], do: render(SharedView, "header.html", current_user: @current_user) %>

<%= if get_flash(@conn, :info), do: render(SharedView, "_alert.html", conn: @conn, type: :info) %>
<%= if get_flash(@conn, :error), do: render(SharedView, "_alert.html", conn: @conn, type: :error) %>

<%= @inner_content %>
